<!DOCTYPE html>
<html>
<head>
    <title> <%= title %> </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
</head>
<body >
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav" >
        <li><a href="/">Home</a>
        <li><a href="/john">John</a></li>
        <li><a href="/matthew">Matthew</a></li>
        <li><a href="/lindsay">Lindsay</a></li>
        <li><a href="/jonathan">Jonathan</a></li>
        <li><a href="/ann">Ann</a></li>
        <li><a href="/ryan">Ryan</a></li>

    </ul>
</nav>

</body>
</head>
</html>